timm
opencv-python==4.8.0.74
torch
torchvision
torchaudio
-f https://download.pytorch.org/whl/cu121
colorlog
numpy==1.24.0
Pillow
ipython
imageio
tqdm
scipy
lark
matplotlib
scikit-image
wandb
rtpt
scikit-learn
grad-cam
einops
stable_baselines3
gym
transformers
accelerate>=0.26.0
bitsandbytes
ace_tools
git+https://github.com/deepseek-ai/DeepSeek-VL2.git